html,
body {
  padding: 0;
  padding-bottom: 100px;
  margin-bottom: 100px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif,Belgates;
  src: url("/fonts/Myrlissa Script.ttf");

}

@font-face {
  font-family: "Belgates";
  src: url("/fonts/Belgates Script.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Belgates";
  src: url("/fonts/Belgates Script.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Myrlissa";
  src: url("/fonts/Myrlissa.otf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Little";
  src: url("/fonts/Little Cupcakes.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

.footer {
  padding-top: 20px;
  position: fixed;
  top:-10;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #cc7722;
  color: white;
  text-transform: capitalize;

  

}

a {
  color: inherit;
  text-decoration: none;
  padding-right: 20px;
}

a:hover{
	text-decoration: none

}



*{
	margin:0;
	padding:0;
	box-sizing: border-box;

}



.register{
	background: url("https://images.pexels.com/photos/3178786/pexels-photo-3178786.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260") no-repeat; 
   background-size: cover;
   min-width: 100%;
   min-height: 100%;
   color:white;
   font-weight: bolder;
   display: flex;
   align-items: center;
   justify-content: center;
   padding-left: 20px;
   padding-top: 0px;

}


.loginBox{
	display:flex;
	justify-content: left;
	width:60vh;
	/*background-color: #fbfbf0!important;*/
	border-left: 0px;
	margin-left:0px;
	padding-top:100px;
	padding-bottom: 100px;
	align-items: center;
	border-radius: 40px;
	box-shadow: 13px 13px 20px #cbced1,
	            -13px -13px 20px #ffffff;

	


}

.plantpic{
	display:flex;
	width:55vw;
	box-shadow: 13px 13px 20px #cbced1,
	            -13px -13px 20px #ffffff;

	
}



nav{
	background-color:#adce74;
	padding-bottom: 50px;
	margin-bottom: 50px;
	font-family: Myrlissa!important;
	font-size: 40px;
	
 }


.navTitle{
 text-transform: uppercase;
 color:#654321;
}
    

.nav-link{
	-webkit-transition: all 0.7s ease-in-out;
	-moz-transition: all 0.7s ease-in-out;
	-o-transition: all 0.7s ease-in-out;
	transition: all 0.7s ease-in-out;
	cursor:pointer;
	display: flex;
}

.navlinking{
	display: flex;
	align-items: right;
	flex-direction: column;
}

/*#button-1{
	box-shadow: 0px 17px 10px -10px;
}*/

#button-1:hover{
	box-shadow: 0px 17px 10px -10px;
	-webkit-transition:translateY(-10px) scale(0.8);
	transform: translateY(-10px) scale(1);
	text-decoration: none;
}


.login-container-1{
	display:flex;
}

/*.fields{
	width:100%;
	padding:75px 5px 5px 5px;
}*/

.fields input {
	border:none;
	outline:none;
	background :none;
	font-size:18px;
	color: #555;
	padding:20px 10px 20px 5px;

}

#userEmail, #password{
	margin-bottom: 30px;
	border-radius:25px;
	box-shadow: inset -8px 8px 8px #cbced1,
	            inset -8px -8px 8px #ffffff
}


@media  (max-width: 400px) {

	body{
		width:200vw;
	}



	nav{
   
	
	padding-bottom: 50px;
	margin-bottom: 50px;
    
}

	.plantpic{
	display:flex;
	width:40vw;
	max-height: 20vh;
   }
	
}

#register-form{
margin-top: 100px;
padding-top: 100px;
display: flex;

	}

button{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: .3em 1.5em;
	font-size: 1.3em;
	font-weight:bold;
	color: #68D1C5;
	background-color: #F7F48B;
	border: 2px solid rgba(112,111,211,0);
	opacity: 1;
	border-radius:15px;
	
	cursor:pointer;
	transition:.3s;
	text-decoration: none;
	box-shadow: 05px 5px 10px #cbced1,
	            -5px -5px 10px #ffffff;
}

button:focus{
	color:#706fd3;
	border: 2px solid rgba(112,111,211,1);
	box-shadow:0px 0px 0px 1px rgba(112,111,211,1);
	animation: anim-shadow .3s forwards;
	text-decoration: none;
}

 button:hover{
 	color:orange;
 	border: 4px solid green;
 	text-decoration: none;
 }

@keyframes anim-shadow{
	100%{
		box-shadow: 0px 0px 10px 10px white;
	}
}

.bannerClass{
 display: flex;
 flex-direction: column;

 align-items: center;

}
.Doughnut{
	display: flex;
	max-width: 40vw;
	padding-bottom: 50px;

}

.linechart{
	margin-bottom: 100px;
}

.search-bar{
	padding-top: 50px;
	padding-bottom: 50px;

	position:absolute;
	
	left:50%;
	transform:translate(-60%,-60%);

	
}

#basic-text1{
	border-radius: 25px 0px 0px 25px;
}

input[type="text"]
{
 border-radius: 25px 25px 25px 25px;

}

table{
	border-collapse: collapse;
	margin: 25px 0;
	font-size:0.9em;
	min-width:400px;
	margin-bottom: 20px;
}

table thead tr{
	background-color: #009879;
	color:#ffff;
	font-weight: bold;
}



tbody{
	padding:12px 15px;
    font-weight: bold;
    border-bottom: 1px solid grey;
    
}

tbody:nth-of-type(even){
	background-color: #bbdfc8;
}

.newCategory{
	
	float:none;
	margin:auto;
	text-align: center;
	display:flex;
	justify-content: center;


}

.calculator{
	padding-bottom: 200px;
}
.withedit{
 display: flex;

}

.editbutton{
	margin-right: 10px;
	size: 7px;

}

.modal-backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}

.modal-content-wrapper {
  position: fixed;
  width: 300px;
  height: 300px;
  background: white;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 50px;
}
.profile{
	padding-bottom: 50px;
	
}

.expensetracker{
	display: flex;
	flex-direction: column;

	
}
.transaction{
	display:flex;
	justify-content: space-around;
}

.post-transaction{
	
}


.calculator{
	flex:4;
}

#btn{
	border: 1px solid black;
	background: none;
	padding:10px 20px;
	font-size:20px;
	font-family:"montserrat";
	cursor: pointer;
	margin: 10px;
	text-decoration: none;
}

#btn1,#btn2{
	color:#3498db;
	text-decoration: none;
}

#btn1:hover,#btn2:hover{
	color:#fff;
	text-decoration: none;
}

.search-bar{
	position: absolute;
	text-align: center;
	justify-content: center;
	border-bottom: 100px;
	margin-bottom: 100px;
	padding-top: 100px;
	padding-bottom: 100px;
}

.rights{
  padding-left: 50px;
  padding-right: 50px;
  
}

.verse{
	padding-left: 50px;
    padding-right: 50px;

}

div.register{
	padding-bottom: 50px;
}

